.aqi-temp-comp-chart-con {
    box-sizing: border-box;
    width: 100%;
    height: 24rem;
    margin: 1em 0;
    padding: 2em 4em;
    background-color: var(--bg-2);
    border-radius: var(--br-4);
}

@media (max-width: 850px) {
    .aqi-temp-comp-chart-con{
        padding: 3em;
    }
    
}
@media (max-width: 550px) {
    .aqi-temp-comp-chart-con{
        padding: 2em;
    }
    
}