.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4em;
    row-gap: 1em;
    background-color: var(--bg-2);

    padding: 2em 4em;
    border-radius: var(--br-4);
    box-shadow: rgba(0, 0, 0, 0.01) 0px 4px 6px -1px, rgba(0, 0, 0, 0.04) 0px 2px 4px -1px;
    overflow: hidden;
    position: relative;
    z-index: 2;

    .section1 {
        .aqi-card {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .t {
                display: flex;
                align-items: center;
                gap: .5em;
            }

            .aqi {
                font-size: 4rem;
                font-weight: 700;
                line-height: 1;
                color: var(--color);
            }

            .status {
                width: 13em;
                background-color: color-mix(in srgb, var(--color) 15%, transparent);
                color: var(--color);
                display: grid;
                place-items: center;
                margin-top: .5rem;
                height: 3em;
                font-size: 1em;
                font-weight: 600;
                border-radius: var(--br-2);
            }
        }

        .pm {
            display: flex;
            justify-content: space-between;
            margin: 2em 0;

            div {
                display: flex;
                gap: .5em;

                .pm-value {
                    font-weight: 700;
                    color: gray
                }
            }
        }

        .recommendation {
            margin: 2em 0 1rem 0;
            font-size: .8rem;
            color: gray;
        }
    }

    .section2 {
        .card {
            background-color: color-mix(in srgb, var(--bg-2) 40%, transparent);
            backdrop-filter: blur(5px);
            display: flex;
            flex-direction: column;
            border-radius: var(--br-2);
            border: 1px solid rgba(128, 128, 128, 0.482);
            position: absolute;
            right: 2rem;
            overflow: hidden;

            .temp {
                font-size: 2.5rem;
                font-weight: 600;
                display: flex;
                align-items: center;
                padding: 1rem;
                border-bottom: 1px solid rgba(128, 128, 128, 0.482);

                img {
                    height: 2rem;
                    width: auto;
                }
            }

            .other {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .hum,
                .co2,
                .no2 {
                    display: grid;
                    place-items: center;

                    padding: .8rem .5rem;
                    font-size: .8rem;
                    /* border-left: 1px solid rgba(128, 128, 128, 0.482); */

                    .t {
                        display: flex;
                        align-items: center;

                        font-weight: 600;
                        color: gray;

                        img {
                            height: 2rem;
                            width: auto;
                        }
                    }
                }

                >:not(:first-child) {
                    border-left: 1px solid rgba(128, 128, 128, 0.482);
                }
            }

        }
    }

    .bg {
        position: absolute;
        z-index: -1;
        right: 0;
        background-size: cover;
        background-position: 30% 85%;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(to right, var(--bg-2), transparent), var(--image);
    }


}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media (max-width: 850px) {
    .banner {
        grid-template-columns: 1fr;
        padding: 3rem;

        .section2{
            .card {
                position: relative;
                right: unset;
                width: fit-content;
            }
        }
    }
       
}
@media (max-width: 550px) {
    .banner{
        padding: 2em;
        .section1{
            .aqi-card{
                .status{
                    width: auto;
                    
                }
            }
        }
        .section2{
            .card {
                margin-bottom: 6rem;
                margin-left: auto;
            }
        }
        .bg{
            right: auto;
            bottom: 0;
            width: 100%;
            height: 50%;
            background-image: linear-gradient(to bottom, var(--bg-2), transparent), var(--image);
        }
    }
    
}